name: "Test API PR"
on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/api.yml'
      - 'api/**'
jobs:
  deploy:
    name: "PHPUnit"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: "Install Node"
        uses: actions/setup-node@v6
        with:
          node-version: "20"
      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "8.3"
      - name: "npm"
        working-directory: ./api
        run: "npm install"
      - name: "composer"
        working-directory: ./api
        run: "composer install --no-interaction --no-progress"
      - name: "phpunit"
        working-directory: ./api
        run: "php vendor/bin/phpunit"
      - name: "Integration Test (Canvas Project)"
        working-directory: ./api
        run: |
          php -d max_execution_time=28 -S localhost:8000 &
          sleep 3
          curl --fail --show-error "http://localhost:8000/changelog.php?project=canvas&from=1.0.4&to=1.1.0"
