name: "Test App PR"
on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/app_pr.yml'
      - 'app/**'
concurrency:
  group: app-pr-${{ github.event.pull_request.number }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  build:
    name: "Build"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Install Node"
        uses: actions/setup-node@v6
        with:
          node-version: "20"
          cache: 'npm'
          cache-dependency-path: './app/package-lock.json'
      - name: "npm install"
        working-directory: ./app
        run: "npm install"
      - name: "npm build"
        working-directory: ./app
        run: "npm run build"
