name: "Test App PR"
on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/app.yml'
      - 'app/**'
jobs:
  build:
    name: "Build"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Install Node"
        uses: actions/setup-node@v6
        with:
          node-version: "20"
      - name: "npm install"
        working-directory: ./app
        run: "npm install"
      - name: "npm build"
        working-directory: ./app
        run: "npm run build"
